################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/writeboard.ext/obj/*
/src/writeboard.ext/bin/*
bin/*
obj/*
*.user
*.suo
.vs/*