@{
    ViewData["Title"] = "WriteBoard";
}
<!-- Header with full-height image -->
<header id="wb-header" class="w3-display-container" id="home">
    <div class="w3-display-left w3-padding-xxlarge">
        <span class="wb-header-logo w3-jumbo w3-hide-small">WriteBoard</span><br>
        <span class="wb-header-logo w3-xxlarge w3-hide-large w3-hide-medium">WriteBoard</span><br>
        <span class="wb-header-subtitle w3-large">Collaborate on a surface that shares.</span>
        <p>
            <a href="http://writeboard-app-tst.azurewebsites.net" class="w3-btn w3-green w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">
                Try a Live Demo Here
            </a>
        </p>
    </div>
</header>


<!-- About Section -->
<div class="w3-container w3-padding-64" id="about">
    <h3 class="w3-center"><i class="fa fa-info-circle"></i> About WriteBoard</h3>
    <p class="w3-center w3-large">Make Your Mark on a Large Surface from any Device.</p>
    <p class="w3-center w3-large">
        Whiteboards are a valuable tool in any scenario that requires visual collaboration and information sharing. The main restriction of whiteboards is that they are intended to be erased and reused, losing any information that is recorded on them. Writing the information down can be time consuming and lead to inaccuracies when copying the information to another medium. In many cases, images will be captured using a smartphone at the conclusion of a meeting to be shared to participants. WriteBoard seeks to solve this issue by enabling a natural whiteboard experience from any input device, shared easily with a custom URL created by users. These are our application's key features:
    </p>
    <div class="w3-row-padding w3-center" style="margin-top:64px">
        <div class="w3-quarter">
            <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center w3-text-blue"></i>
            <p class="w3-large">Responsive</p>
            <p>Natural whiteboard collaboration experience with intuitive drawing, text and image import. WriteBoard canvases are easily shared through a unique URL</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-heart w3-margin-bottom w3-jumbo w3-text-blue"></i>
            <p class="w3-large">Passion</p>
            <p>Project utilizes Azure cloud services combined with the latest web and database technologies available: SQL Server 2016, PHP7 and JIRA.</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-diamond w3-margin-bottom w3-jumbo w3-text-blue"></i>
            <p class="w3-large">Design</p>
            <p>Intuitive input tools will be available for drawing, erasing and text/image import.</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-cog w3-margin-bottom w3-jumbo w3-text-blue"></i>
            <p class="w3-large">Support</p>
            <p>Deployable into any enterprise environment with access to Azure cloud services.</p>
        </div>
    </div>
</div>

 <div class="w3-container w3-padding-64 w3-light-grey" id="features">
    <h3 class="w3-center"><i class="fa fa-th"></i> WriteBoard Features</h3>
    <p class="w3-center w3-large">Illustrate and Collaborate in Style.</p>
    <div class="w3-row-padding w3-center" style="margin-top:64px">
        <div class="w3-half">
            <img src="~/images/123.png" style="width:50%" onclick="onClick(this)" class="w3-hover-opacity">
            <p class="w3-large">Quick and Easy Registrtion Process</p>
        </div>
        <div class="w3-half">
            <img src="~/images/234.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity">
            <p class="w3-large">Large Drawing Surface, up to a 4K Resolution</p>
        </div>
    </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
    <span class="w3-closebtn w3-text-white w3-opacity w3-hover-opacity-off w3-xxlarge w3-container w3-display-topright" title="Close Modal Image">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img01" class="w3-image">
        <p id="caption" class="w3-opacity w3-large"></p>
    </div>
</div>

<!-- Promo Section "Statistics" -->
<div class="w3-container w3-row w3-center w3-padding-64">
    <div class="w3-quarter">
        <span class="w3-xxlarge">@ViewBag.wbcount</span>
        <br>Partners
    </div>
    <div class="w3-quarter">
        <span class="w3-xxlarge">60%</span>
        <br>Project Progress
    </div>
    <div class="w3-quarter">
        <span class="w3-xxlarge">0+</span>
        <br>Happy Clients
    </div>
    <div class="w3-quarter">
        <span class="w3-xxlarge">50+</span>
        <br>Meetings
    </div>
</div>

<!-- Team Section -->
<div class="w3-container w3-light-grey w3-padding-64" id="team">
    <h3 class="w3-center"><i class="fa fa-group"></i> WriteBoard Team</h3>
    <p class="w3-center w3-large">Drawn to Perfection, Nothing Less.</p>
    <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card-2">
                <div class="w3-container">
                    <h3>Jeff Bishop</h3>
                    <p class="w3-opacity">
                        Project Manager<br />
                        Quality Assurance
                    </p>
                </div>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card-2">
                <div class="w3-container">
                    <h3>James Kelley</h3>
                    <p class="w3-opacity">
                        Web Application Developer<br/>
                        Web Framework Developer
                    </p>
                </div>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card-2">
                <div class="w3-container">
                    <h3>Brian Oehler</h3>
                    <p class="w3-opacity">
                        Infrastructure Manager<br />
                        Database Administrator
                    </p>
                </div>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card-2">
                <div class="w3-container">
                    <h3>Wai Phone Tin Aung</h3>
                    <p class="w3-opacity">
                        External Site Developer<br/>
                        Web Framework Developer
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Section -->
<div class="w3-container w3-padding-64" id="contact">
    <h3 class="w3-center"><i class="fa fa-envelope"></i> Contact Us</h3>
    <p class="w3-center w3-large">Lets get in touch.</p>
    <div class="w3-row-padding" style="margin-top:64px">
        <div class="w3-half">
            <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Boston, US
            <p>
            <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +1 8573344095</p>
            <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: \ WhiteBoard@gmail.com</p>
            <br>
            <form action="mailto:tinaung.w@husky.neu.edu" method="post" enctype="text/plain">
                <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></p>
                <p>
                    <button class="w3-btn w3-padding w3-red" type="submit">
                        <i class="fa fa-paper-plane"></i> SEND MESSAGE
                    </button>
                </p>
            </form>
        </div>
        <div class="w3-half">
            <!-- Add Google Maps -->
            <div id="googleMap" class="w3-greyscale-max" style="width:100%;height:510px;"></div>
        </div>
    </div>
</div>