@{
    ViewData["Title"] = "WriteBoard";
}

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-padding-xxlarge w3-text-blue">
        <span class="wb-header-logo w3-jumbo w3-hide-small">WriteBoard</span><br>
        <span class="w3-xxlarge w3-hide-large w3-hide-medium">WriteBoard</span><br>
        <span class="w3-large">Stop wasting valuable time with writing that just doesn't share.</span>
        <p>
            <a href="#about" class="w3-btn w3-green w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">
                Learn more and start today
            </a>
        </p>
    </div>
</header>
<!-- About Section -->
<div class="w3-container w3-padding-64" id="about">
    <h3 class="w3-center">ABOUT WRITEBOARD</h3>
    <p class="w3-center w3-large">
        Whiteboards are a valuable tool in any scenario that requires visual collaboration and information sharing. The main restriction of whiteboards is that they are intended to be erased and reused, losing any information that is recorded on them. Writing the information down can be time consuming and lead to inaccuracies when copying the information to another medium. In many cases, images will be captured using a smartphone at the conclusion of a meeting to be shared to participants. WriteBoard seeks to solve this issue by enabling a natural whiteboard experience from any input device, shared easily with a custom URL created by users. These are our application's key features:
    </p>
    <div class="w3-row-padding w3-center" style="margin-top:64px">
        <div class="w3-quarter">
            <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center w3-text-blue"></i>
            <p class="w3-large">Responsive</p>
            <p>
                Natural whiteboard collaboration experience with intuitive drawing, text and image import. WriteBoard canvases are easily shared through a unique URL
            </p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-heart w3-margin-bottom w3-jumbo w3-text-blue"></i>
            <p class="w3-large">Passion</p>
            <p>Project utilizes Azure cloud services combined with the latest web and database technologies available: SQL Server 2016, PHP7 and JIRA.</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-diamond w3-margin-bottom w3-jumbo w3-text-blue"></i>
            <p class="w3-large">Design</p>
            <p>Intuitive input tools will be available for drawing, erasing and text/image import.</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-cog w3-margin-bottom w3-jumbo w3-text-blue"></i>
            <p class="w3-large">Support</p>
            <p>Deployable into any enterprise environment with access to Azure cloud services.</p>
        </div>
    </div>
</div>
<!-- Promo Section - "We know design" -->
<div class="w3-container w3-light-grey w3-padding-64">
    <div class="w3-row-padding">
        <div class="w3-col m6">
            <h3>We know design.</h3>
            <p>The scope of work for WriteBoard includes planning, execution and implementation of an end-to-end deployable web application. WriteBoard will target a natural whiteboard experience with simple sharing features. An external site will accompany the web application to host a live demo, project highlights and deployment details. Deployability and self-hosting will be a differentiating feature of the project which will be deployable as a service (SaaS) to supported enterprise environments.</p>
            <p><a href="#work" class="w3-btn w3-blue"><i class="fa fa-th"></i> View Example Work</a></p>
        </div>
        <div class="w3-col m6">
            <img class="w3-image w3-round-large" src="/images/logo_sm.png" alt="WriteBoard Logo" width="400" height="400">
        </div>
    </div>
</div>
<!-- Team Section -->
<div class="w3-container w3-padding-64" id="team">
    <h3 class="w3-center">THE TEAM</h3>
    <p class="w3-center w3-large">The ones who developed this application</p>
    <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card-2">
                <img src="/images/Brian.png" alt="Brian Oehler" style="width:100%">
                <div class="w3-container">
                    <h3>Brian Oehler</h3>
                    <p class="w3-opacity">
                        Infrastructure Management &
                        Cost Management
                    </p>
                    <p>info about Brian</p>
                    <p><button class="w3-btn-block w3-blue"><i class="fa fa-envelope"></i> Contact</button></p>
                </div>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card-2">
                <img src="/images/Jeff.png" alt="Jeff Bishop" style="width:100%">
                <div class="w3-container">
                    <h3>Jeff Bishop</h3>
                    <p class="w3-opacity">
                        Project Manager, DBA, &
                        Local Environment Deployment
                    </p>
                    <p>
                        info about Jeff
                    </p>
                    <p><button class="w3-btn-block w3-blue"><i class="fa fa-envelope"></i> Contact</button></p>
                </div>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card-2">
                <img src="/images/James.png" alt="James Kelley" style="width:100%">
                <div class="w3-container">
                    <h3>James Kelley</h3>
                    <p class="w3-opacity">Web Application Developer & General Web Framework</p>
                    <p>Info about James</p>
                    <p><button class="w3-btn-block w3-blue"><i class="fa fa-envelope"></i> Contact</button></p>
                </div>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card-2">
                <img src="/images/Wai.png" alt="Wai Phone Tin Aung" style="width:100%">
                <div class="w3-container">
                    <h3>Wai Phone Tin Aung</h3>
                    <p class="w3-opacity">External Site Developer & Database Layer</p>
                    <p>Info about Wai</p>
                    <p><button class="w3-btn-block w3-blue"><i class="fa fa-envelope"></i> Contact</button></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Promo Section "Statistics" -->
<div class="w3-container w3-row w3-center w3-light-grey w3-padding-64">
    <div class="w3-quarter">
        <span class="w3-xxlarge">0+</span>
        <br>Partners
    </div>
    <div class="w3-quarter">
        <span class="w3-xxlarge">30%</span>
        <br>Project Progress
    </div>
    <div class="w3-quarter">
        <span class="w3-xxlarge">0+</span>
        <br>Happy Clients
    </div>
    <div class="w3-quarter">
        <span class="w3-xxlarge">30+</span>
        <br>Meetings
    </div>
</div>
<!-- Work Section -->
<div class="w3-container w3-padding-64" id="work">
    <h3 class="w3-center">Examples</h3>
    <p class="w3-center w3-large">What people have done with WhiteBoard. (this is where we post images of example projects)</p>
    <div class="w3-row-padding" style="margin-top:64px">
        <div class="w3-col l3 m6">
            <img src="/images/1.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Example 1">
        </div>
        <div class="w3-col l3 m6">
            <img src="/images/2.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Example 2">
        </div>
        <div class="w3-col l3 m6">
            <img src="/images/3.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Example 3">
        </div>
        <div class="w3-col l3 m6">
            <img src="/images/4.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Example 4">
        </div>
    </div>
    <div class="w3-row-padding w3-section">
        <div class="w3-col l3 m6">
            <img src="/images/5.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Example 5">
        </div>
        <div class="w3-col l3 m6">
            <img src="/images/6.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Example 6">
        </div>
        <div class="w3-col l3 m6">
            <img src="/images/7.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Example 7">
        </div>
        <div class="w3-col l3 m6">
            <img src="/images/8.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Example 8">
        </div>
    </div>
</div>
<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
    <span class="w3-closebtn w3-text-white w3-opacity w3-hover-opacity-off w3-xxlarge w3-container w3-display-topright" title="Close Modal Image">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img01" class="w3-image">
        <p id="caption" class="w3-opacity w3-large"></p>
    </div>
</div>
<!-- Skills Section -->
<div class="w3-container w3-light-grey w3-padding-64">
    <div class="w3-row-padding">
        <div class="w3-col m6">
            <h3>Our Schedule</h3>
            <p>1/9/17   - Initial Project Kickoff (DONE)</p>
            <p>1/28/17 - End-to-End development workflow in place (DONE)</p>
            <p>2/04/17 - Initial Database & UI Designs (In Progress)</p>
            <p>2/11/17 - Database Schema and UI Design Finalized</p>
            <p>2/04/17 - 2/28/17 - Production environment established, sync source</p>
            <p>3/04/17 - Complete Drawing, Sharing, and Registration Features</p>
            <p>3/25/17 - External Site Released, Web Application Demo Live</p>
            <p>4/29/17 - Final Presentation</p>
        </div>
        <div class="w3-col m6">
            <p class="w3-wide"><i class="fa fa-desktop w3-margin-right"></i>Progress of our Project</p>
            <p>Progress is at 30%</p>
            <div class="w3-progress-container w3-grey">
                <div class="w3-progressbar w3-blue" style="width:30%"></div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing Section -->
<div class="w3-container w3-padding-64 w3-center w3-dark-grey" id="pricing">
    <h3>PRICING</h3>
    <p class="w3-large">Choose a pricing plan that fits your needs.</p>
    <div class="w3-row-padding" style="margin-top:64px">
        <div class="w3-third w3-section">
            <ul class="w3-ul w3-white w3-hover-shadow">
                <li class="w3-blue w3-xlarge w3-padding-32">Basic</li>
                <li class="w3-padding-16"><b>10GB</b> Storage</li>
                <li class="w3-padding-16"><b>10</b> Emails</li>
                <li class="w3-padding-16"><b>10</b> Domains</li>
                <li class="w3-padding-16"><b>Endless</b> Support</li>
                <li class="w3-padding-16">
                    <h2 class="w3-wide">$ 10</h2>
                    <span class="w3-opacity">per month</span>
                </li>
                <li class="w3-light-grey w3-padding-24">
                    <button class="w3-btn w3-blue w3-padding-large">Sign Up</button>
                </li>
            </ul>
        </div>
        <div class="w3-third">
            <ul class="w3-ul w3-white w3-hover-shadow">
                <li class="w3-green w3-xlarge w3-padding-48">Pro</li>
                <li class="w3-padding-16"><b>25GB</b> Storage</li>
                <li class="w3-padding-16"><b>25</b> Emails</li>
                <li class="w3-padding-16"><b>25</b> Domains</li>
                <li class="w3-padding-16"><b>Endless</b> Support</li>
                <li class="w3-padding-16">
                    <h2 class="w3-wide">$ 25</h2>
                    <span class="w3-opacity">per month</span>
                </li>
                <li class="w3-light-grey w3-padding-24">
                    <button class="w3-btn w3-blue w3-padding-large">Sign Up</button>
                </li>
            </ul>
        </div>
        <div class="w3-third w3-section">
            <ul class="w3-ul w3-white w3-hover-shadow">
                <li class="w3-blue w3-xlarge w3-padding-32">Premium</li>
                <li class="w3-padding-16"><b>50GB</b> Storage</li>
                <li class="w3-padding-16"><b>50</b> Emails</li>
                <li class="w3-padding-16"><b>50</b> Domains</li>
                <li class="w3-padding-16"><b>Endless</b> Support</li>
                <li class="w3-padding-16">
                    <h2 class="w3-wide">$ 50</h2>
                    <span class="w3-opacity">per month</span>
                </li>
                <li class="w3-light-grey w3-padding-24">
                    <button class="w3-btn w3-blue w3-padding-large">Sign Up</button>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Contact Section -->
<div class="w3-container w3-padding-64 w3-light-grey" id="contact">
    <h3 class="w3-center">CONTACT</h3>
    <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
    <div class="w3-row-padding" style="margin-top:64px">
        <div class="w3-half">
            <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Boston, US</p>
            <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +1 8573344095</p>
            <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: WhiteBoard@gmail.com</p>
            <br>
            <form action="form.asp" target="_blank">
                <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></p>
                <p>
                    <button class="w3-btn w3-padding" type="submit">
                        <i class="fa fa-paper-plane"></i> SEND MESSAGE
                    </button>
                </p>
            </form>
        </div>
        <div class="w3-half">
            <!-- Add Google Maps -->
            <div id="googleMap" class="w3-greyscale-max" style="width:100%;height:510px;"></div>
        </div>
    </div>
</div>